<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>send messages!</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <label for="html">username</label>
      <input name="userName" type="text" />
      <label for="html">message</label>
      <input name="messageText" type="text" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
